[Unit]
Description=etcd - highly-available key value store
Documentation=https://github.com/coreos/etcd
Documentation=man:etcd
After=network.target
Wants=network-online.target
Requires=setup-network-environment.service
After=setup-network-environment.service

[Service]
Environment=DAEMON_ARGS=
Environment=ETCD_NAME=%H
Environment=ETCD_DATA_DIR=/var/lib/etcd/default
PassEnvironment=ETCD_DISCOVERY
EnvironmentFile=-/etc/default/%p
EnvironmentFile=/etc/network-environment
Type=notify
User=etcd
PermissionsStartOnly=true
#ExecStart=/bin/sh -c "GOMAXPROCS=$(nproc) /usr/bin/etcd $DAEMON_ARGS"
#ExecStart=/usr/bin/etcd $DAEMON_ARGS

ExecStart=/usr/bin/etcd \
  --initial-advertise-peer-urls=http://${DEFAULT_IPV4}:2380 \
  --listen-peer-urls=http://${DEFAULT_IPV4}:2380 \
  --listen-client-urls=http://${DEFAULT_IPV4}:2379,http://127.0.0.1:2379 \
  --advertise-client-urls=http://${DEFAULT_IPV4}:2379

Restart=on-abnormal
#RestartSec=10s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
Alias=etcd2.service
