# Use most defaults for sshd configuration.
UsePrivilegeSeparation sandbox
Subsystem sftp internal-sftp
ClientAliveInterval 180
UseDNS no

HostKey /etc/ssh/ssh_host_rsa_key

PubkeyAuthentication yes
RSAAuthentication yes
